@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins:wght@100;200;300;400;600;700&display=swap');
#colors() {
    primary: #000000; //text color
    secondary: #83b735; // main color
    third: brown;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins',
    sans-serif;
}
section{
    padding: 50px 10%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #edecea;
    
    .logo{
        font-size: 1.2rem;
        font-weight: 600;
        color: #colors[primary]
    }
    #menu-icon{
        font-size: 2rem;
        cursor: pointer;
        display: none;
        scroll-behavior: smooth;
    }
    .navbar {
        position: relative;
        display: flex;
        a {
            font-size: 1rem;
            padding: 10px 20px;
            font-weight: 500;
            color: #colors[primary];
            &:hover{
                color: #colors[secondary];
            }
        }
    }
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(image/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    // object-fit:fill;
    display: flex;
    align-items: center;
    .home-text h1 {
       font-size: 2.7rem;

        span {
            color: #colors[third];
        }
    }

    .home-text p {
        font-size: 1.3rem;
        margin: 04rem 0 1.5rem;
    }
    .btn{
    padding: 10px 14px;
    background-color: #colors[third];
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
    &:hover{
       background:crimson ; 
    }
    }
}
.heading{
    font-size: 14px;
    font-weight: 500;
    color: #colors[secondary];
    text-transform: uppercase;
    text-align: center;
}
.shop-container, .new-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin: 1rem;
    // justify-content: space-around;
    // flex-wrap: wrap;
    // border: 2px solid red;
    .box {
        // border: solid 1px #dddd;
        // width: 301px;
        // margin-top: 15px;
        position: relative;
        box-shadow: 1px 4px 4px rgba(0,0,0,0.1);
        .box-img{
             width: 100%;
             height: 400px;
             overflow: hidden;
             border-radius: 44px 4px 0 0;
             img {
                 // height: 385px;
                 // width: 301px;
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 object-position: center;
                 &:hover{
                     transform: scale(1.1);
                     transition: 0.5s;
                 }
            }
        }
        span {
            font-size: 1.2rem;
            font-weight: 500;
            padding-left: 12px;
            color: #colors[secondary];
        }

        .title-price {
            display: flex;
            justify-content: space-between;
            padding: 14px;

            .bx {
                color: #colors[secondary];
            }

            h3 {
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .bx-cart {
            // position: absolute;
            bottom: 0;
            right: 0;
            padding: 7px;
            font-size: 20px;
            color: #fff;
            border-radius: 4px 0 4px 0;
            background-color: #colors[secondary];

            &:hover {
                background: #8fc53d;
            }
        }

        .price {
            display: flex;
            justify-content: space-between;
            padding: 14px;
        }
    }
    .box{
        border-radius: 4px;
    }


}
.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    img{
        width: 100px;
        filter: grayscale(1);
        &:hover{
            width: 100px;
            filter: grayscale(0);
        }
    }

}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(image/footer1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     h2 {
         color: #fff;
     }
    .news-box{
         display: flex;
         align-items: center;
         margin-top: 2rem;
        
         input{
             width: 260px;
             height: 44px;
             border: none;
             outline: none;
             background:#fff;
             padding: 10px;
         }

         .btn {
             padding: 10px 14px;
             background-color: #colors[secondary];
             color: #fff;
             border-radius: 0.3rem;
             font-size: 14px;
             font-weight: 500;
             text-transform: uppercase;
         }
        }
}
.footer{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    .footer-box{
        .social a{
            font-size: 24px;
            margin-right: 10px;
            color: #colors[primary];
        }
        // span {
        //     color: #colors[primary];
        //     font-size: 20px;
        // }
    }
    
    h2{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 10px;
       
    }
}
.copyright{
    padding: 20px;
    text-align: center;
}
@media(max-width:991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    };
}
@media(max-width:881px) {
    .home-text h1 {
        font-size: 2rem;
    }

    .shop-container,
    .new-container {
        grid-template-columns:repeat(auto-fit, minmax(218px, auto)) ;
    }

    
}
@media(max-width:768px){
    header{
        padding: 11px 4%;
        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background: #fff;
            box-shadow: 0 4px 4px rgb(0 0 0 /10%);
            transition: 0.2s ease;
            text-align: center;
            a{
                padding: 1.5rem;
              display: block;
              &:hover{
                  color: #fff;
                  background: #colors[secondary];
              }

            }
        }
    }
    #menu-icon{
        display: initial;
    }
}

